# Android Studio / IDE
*.iml
/.idea
.gradle

# Local config
/local.properties

# OS files
.DS_Store
*.log

# Build outputs
/build
/app/build
/app/release
*.ap_
*.apk
*.aab

# Native
.externalNativeBuild
.cxx

# Debug / profiling
*.hprof

# Signing
*.jks
*.keystore

# Other
/captures
